body{
    background-color: #eee;
    padding: 5rem;        
}

.gallery{
    width: 35%;
    margin: 0 auto;
    text-align: center;
}

.gallery li{
    width: 9rem;
    display: inline-block;
    border: 0.2rem solid black;
    padding: 1rem;
    vertical-align: middle; 
    margin: 0.5rem;   
}

img{  
    height: auto;     
}

